<center>
    <div>
      <a href="/produkte">  <img class="beutel-kasten" src="/pic/nav/produkte.png"  width="147 px" height="28 px"></a>
      <a href="/ueber-uns">  <img class="beutel-kasten" src="/pic/nav/uns.png"       width="147 px" height="28 px"></a>
      <a href="/sponsoren"> <img class="beutel-kasten" src="/pic/nav/sponsoren.png" width="147 px" height="28 px"></a>
      <a href="/impressum"> <img class="beutel-kasten" src="/pic/nav/impressum.png" width="147 px" height="28 px"></a>

    </div>
</center>
