<head>
  <!--
  Webpage by Fluffelz & Chrissem
  Design & Content by Fluffelz
  Code by Chrissems
  -->

  <meta charset="utf-8">
  <title>Beuteltier</title>

  <meta name="google-site-verification" content="ylr9nFZ_j9MjKsV-mPF3-QlqIhBxzykpflQwwkceYQk" />

  <meta name="author" content="Fluffelz, Chrissem">
  <meta name="publisher" content="Beuteltier">
  <meta name="copyright" content="Beuteltier (Fluffelz, Chrissem)">
  <meta name="description" content="Beuteltier ist eine Schülerfirma die Sportbeutel anbietet.">
  <meta name="keywords" content="beuteltier, turnbeutel, beutel, schülerfirma">
  <meta name="audience" content="Alle">
  <meta http-equiv="content-language" content="de">



  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic' rel='stylesheet' type='text/css'>

  <link rel="icon" href="/pic/icon.ico">


</head>
